/******************** FONDO DE LA VENTANA ********************/
.about-container {
    background-image: url("../../imagenes/Fondos/Fondo2.jpg");
    overflow: hidden;

    /* Fijar la imagen de fondo este vertical y horizontalmente y centrado */
    background-position: center ;

    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;

    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;

    width: 100vw;
    height: 95vh;
 }

/******************** TEXTO ABOUT ********************/
.about {
    /* Distancia del titulo al texto
     Arriba, Derecha, Abajo, Izquierda */
    padding: 0vh 20vw 0vh 20vw;

    /* Color de la letra */
    color: #ffffff;

    /* Tamaño de la letra */
    font-size: 20px;
    margin-top: 10vh;
    margin-left: 0;
}

.img-Nocopiar {
    width: 15vw;
    margin-left: 85vh;
    margin-top: 10vh;
    border-radius: 5%;
    padding: 0;
}

/* Cubo inicial */
.cubo {
    position: absolute;
    top: 80%;       /* inicio */
    left: 45vw;
    width: 2.5vw;
    height: 5vh;
    overflow: hidden;
    display: block;
    list-style: none;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 1s linear infinite;
}

.cubo:nth-child(1){
    left: 25vw;
    width: 5vw;
    height: 10vh;
    animation-delay: .0s;
    animation-duration: 10s;
}

.cubo:nth-child(2){
    left: 10vw;
    width: 10vw;
    height: 20vh;
    animation-delay: 1s;
    animation-duration: 12s;
}

.cubo:nth-child(3){
    left: 45vw;
    width: 5vw;
    height: 10vh;
    animation-delay: .5s;
    animation-duration: 7s;
}

.cubo:nth-child(4){
    left: 30vw;
    width: 10vw;
    height: 20vh;
    animation-delay: 1s;
    animation-duration: 15s;
}

.cubo:nth-child(5){
    left: 65vw;
    width: 5vw;
    height: 10vh;
    animation-delay: .5s;
    animation-duration: 8s;
}

.cubo:nth-child(6){
    left: 50vw;
    width: 10vw;
    height: 20vh;
    animation-delay: 1s;
    animation-duration: 13s;
}

.cubo:nth-child(7){
    left: 35%;
    width: 30vw;
    height: 15vh;
    animation-delay: 0s;
    animation-duration: 8s;
}

/*


.cubo:nth-child(7){
    left: 35vw;
    width: 150vw;
    height: 150vh;
    animation-delay: 7s;
}

.cubo:nth-child(8){
    left: 50vw;
    width: 25vw;
    height: 25vh;
    animation-delay: 15s;
    animation-duration: 45s;
}

.cubo:nth-child(9){
    left: 20vw;
    width: 15vw;
    height: 15vh;
    animation-delay: 2s;
    animation-duration: 35s;
}

.cubo:nth-child(10){
    left: 85vw;
    width: 150vw;
    height: 150vh;
    animation-delay: 0s;
    animation-duration: 11s;
}
*/
@keyframes animate {

    60% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    80% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
