/******************** FONDO DE LA VENTANA ********************/
.bodyAbout{
    background-image: url("../../imagenes/Fondos/Fondo2.jpg");
    overflow: hidden;

    /* Fijar la imagen de fondo este vertical y horizontalmente y centrado */
    background-position: center ;

    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;

    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;

    width: 100vw;
    height: 88.8vh;
 }

/******************** TEXTO ABOUT ********************/
.about {
    /* Distancia del titulo al texto
     Arriba, Derecha, Abajo, Izquierda */
    padding: 0vh 20vw 0vh 25vw;

    /* Color de la letra */
    color: #ffffff;

    /* Tamaño de la letra */
    font-size: 20px;
    margin-top: 10vh;
    margin-left: 0;
}

.img-Nocopiar {
    width: 20vw;
    margin-left: 85vh;
    margin-top: 10vh;
    border-radius: 5%;
}
