/* Fondo de pantalla */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

/* Barra de menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #598df3;
    text-decoration: none;
}

li {
    float: left;
}

li a, .dropdown-btn {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration-line: none;     /* Quito el subrayado de las opciones del menu */
}

/* opcion del menu de nivel 1 */
li a:hover, .dropdown:hover .dropdown-btn {
    background-color: #FFA500;
}

li.dropdown {
    display: inline-block;
}

a.dropdown:after {
	content: "\25BE";
	margin-left: 5px;
}

/* dorpdown que contiene al segundo nivel del menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #598df3;
    min-width: 160px;
    box-shadow: 5px 5px #00000080;      /* color de la sombra */
    z-index: 90;

    border-radius: 0 0 1.5vh 1.5vh;

}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* opcion del submenu */
.dropdown-content a:hover {
    background-color: #FFA500
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*** CUERPO DEL MENU ***/
.cuerpo-menu {

    /* Fijar la imagen de fondo este vertical y horizontalmente y centrado */
    background-position: center ;

    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;

    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;

    width: 100vw;
    height: 88.9vh;
}

/*** PIE DE PAGINA ***/
.pie-login {
    margin-top:0vh;           /* 88 */
    padding: 0;

    background: #598df3;               /* Color de fondo */
    min-height: 5vh;
    max-height: 5vh;

    /* TEXTO */
    color: #ffffff;                       /* Color de la letra */
    font-size: 15px;                        /* Tamaño de la letra */
    text-align: center;

    /* Centra vertical el texto */
    align-items: center;
/*    vertical-align: middle;*/

    /* TEXTO */
    font-family: Comfortaa;
    color: #fdfdfd;
    font-size: 100%;
}

.imgUsr {
    float: right;
}
