<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../css/manager/prioridades.css">
    </head>

    <body>
        <div class="prioridades-titulo"><span>Mantenimiento de Prioridades</span></div>

        <div class="prioridades-container">

<!--            <h2>Iniciar Sesión</h2> -->

<!--            <img src='../imagenes/Usuarios.png' alt="Usuario" class="imagen">   -->

            <form id="prioridades-form">
                <div class="TablaPrioridades">
                    <div class="DatosPrioridades">

                        <!-- Datos recuperados de la DB -->
                        <table class="TablaDatosPrioridades" border="1">

                            <!-- Cabezal de las columnas -->
                            <thead id="thead-Prioridades">
                                <tr>
                                    <th>Prioridades</th>
                                </tr>
                            </thead>

                            <!-- Detalle de la columna -->
                            <tbody id="columna">
                                <tr v-for="(registro, index) in this.listaPrioridades" :key="index" @click="selectRow(registro.id, registro.prioridades)">
                                    <td class="registro_prioridades">{{ registro.prioridades }}</td>
                                </tr>
                            </tbody>
                        </table> <!-- TablaDatosPrioridades -->
                    </div> <!-- DatosPrioridades -->

                    <!-- Prioridades -->
                    <div class="CampoPrioridades">
                        <input id="inputPrioridades" class="Prioridades" type="text" placeholder="Ingrese la Prioridades..." required v-model="form.campoPrioridades" title="Descripción de la prioridades." >
                    </div>
                </div> <!-- TablaPrioridades -->

            </form>
        </div>
        <script src="../js/manager/prioridades.js"></script>
    </body>

</html>
